:root{
    --border-color : #6b9cff;
    --background-color : #b8cfff;
    --focus-background-color : #959dff
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: black !important;
}

html body{
    padding: 0;
    margin: 0;
}

body{
    justify-content: center;
    font-family: 'Spoqa Han Sans', serif;
    overflow-y: scroll;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
    background: white;
}
button:hover{
    background: lightseagreen;
    color: white;
}
form{
    margin: 0px;
}
.card{
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    margin: auto;
    box-shadow: 0px 0 7px 0px #7b7b7b;
}
#chattingRoomForm{
    margin: 15px 0px;
}

#welcome{
    display: flex;
}
#randomBrushColor{
    position: relative;
    bottom: 10px;
}


a{
    width: 50px;
    height: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border:1px solid;
    text-decoration: none;
    color: black;
}
a:active{
    background:  #b8cfff;
}
#colorPalette{
    display: flex;
    margin-bottom: 10px;
}
.colorStack{
    content: ' ';
    width : 20px;
    height : 20px;
    margin : 2px;
    border-radius : 8px;
}

.title{
    text-align: center;
    font-family: 'KOTRAHOPE';
    font-size: 4rem;
    background: linear-gradient(to right top, #9c7eff, #ffc8c3);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #fff
}
.title strong{
    font-size:5rem;
    background: linear-gradient(to right top, #c8b4ff, #ffb1ae);
    color: transparent;
    -webkit-background-clip: text;
}



input[type='text']{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: #d3d3d3;
}
input[type='text']:focus{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 1px solid lightseagreen;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}
input[type='text']:valid{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 1px solid lightseagreen;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background: white !important;
}

/*input[type='checkbox']{*/
/*    display: none;*/
/*}*/
/*input[type='checkbox'] + label{*/
/*    font-size: 0.8rem;*/
/*}*/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    width: fit-content;
    font-size: 0.7rem;
    display: block;
    position: relative;
    padding-left: 20px;
    margin-left: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input[type="checkbox"]:hover + label:hover {
    color:lightseagreen;
}
input[type="checkbox"]:hover + label:before {
    background: lightseagreen;
    box-shadow: inset 0px 0px 0px 1px #f7f2f2;
}
/* input[type="checkbox"] + label:last-child {*/
/*    margin-bottom: 0;*/
/*}*/
input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 1.5px;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
}

input[type="checkbox"]:checked + label:before {
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border: 1px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: lightseagreen;
    box-shadow: 0 0 0 1px #000;
}
input[type="checkbox"]:checked + label {
    color: lightseagreen;
}

#chattingRoomForm label{
    margin-left: 10px;
    font-size: 0.7rem;
}
.card h3{
    margin: 5px 0px;
}
.card ul{
    margin: 0px;
    padding-inline-start: 30px;
}
.card li{
    list-style-type: circle;
}
.hidden{
    display: none;
}

.brushTool{
    padding-right: 19px;
}
canvas{
    border: 1px black solid;
    background: white;
}

.canvasSection{
    display: flex;
    background: white;
    padding:10px;
    margin: 20px;
    border:2px double black;
    border-radius: 10px;
    justify-content: space-between;
}

.canvasSection ul{
    height: 435px;
    overflow-y: scroll;
}
